extends inset_layout.pug

append head 
    script(src='./javascript/playlist.js')

block inset_content
    div(data-platform=platform, id='platform')
    div(id='refresh-page' style='display: none;')
        - var messages = {alert: 'Oops! Looks like you have been logged out. Refresh the page to continue.'}
        include partials/_flash.pug

    .horizontal-align-centered
        h1 Dashboard for
        img(src='../images/' + platform + '-logo.svg', class='dashboard-logo' style='padding-left: var(--spacing-2)')
    
    .dashboard-items
        .your-playlists
            h2 Your Playlists

            .playlist-and-songs-container
                div.playlists-container
                    ul.playlists
                        each playlist in playlists
                            li.playlist-item(onclick="togglePlaylist(this)" id=playlist.id class=platform)
                                .horizontal-align-left
                                    if playlist.images.length > 0
                                        img(src=playlist.images[0].url, class='playlist-image')
                                    else
                                        img(src="../images/playlist-placeholder-" + platform + ".jpg", class="playlist-image")
                                    p(class='playlist-name') #{playlist.name}

                div.playlist-songs(style="display: none;" class=platform)
                    ul.song-list

        include partials/music_player.pug
        //- .sticky-bar
        //-     | This is a sticky bar  

    script.
        function togglePlaylist(playlist) {
            const songs = document.querySelector('.playlist-songs');
            const platform = document.querySelector('#platform').dataset.platform;
            requestAnimationFrame(async () => {
                // if playlist is active, then uncollapse the container
                if (playlist.classList.contains('active')) {
                    document.querySelector('.playlists-container').classList.toggle('collapsed');
                    playlist.classList.toggle('active')
                    songs.style.display = 'none';
                } else {
                    const activePlaylist = document.querySelector('.playlist-item.active');
                    await fetchPlaylistSongs(playlist.id, platform);

                    playlist.classList.toggle('active');
                    /** 
                    * if an activePlaylist exists, then we are selecting a new playlist,
                    * so don't collapse the container, and untoggle the active playlist
                    */
                    if (activePlaylist) {
                        activePlaylist.classList.toggle('active');
                    } else {
                        document.querySelector('.playlists-container').classList.toggle('collapsed');
                        // TODO: code to fetch songs for playlist
                        songs.style.display = 'block';
                    }
                }
            })
        }
